.nav-link{
	color: 	black!important;
}
.navbar-brand{
	color: 	black!important;
}
.dropdown-item{
	color: 	black!important;
}
.promo{
	height:70vh;
	background-image:
	linear-gradient(to bottom, rgba(0, 128, 128, 0.5), rgba(117, 19, 93, 0.5)),
url("img/CHS_Pic.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.promo h2{
	color: white;
	text-align: center;
	font-size: 70px;
	font-family: sans-serif;
	font-weight: bold;
	padding-top: 13%;
	text-transform: uppercase;
	text-shadow: 0px 0px 7px black;
}
.promo p, .col-sm2{
	width: 800px;
	text-align: center;
	color: white;
	font-family: sans-serif;
}
.promo .col-sm2{
padding-left: 250px;
}
.supplies{
	text-align: center;
	padding-top: 40px;
}
.col-sm1, .col-sm2, .col-sm3 {
	width: 370px;
}
.footer{
	height: 10vh;
	background-color: #242322;
	font-family: sans-serif;
}
.footer h3{
	padding-top: 27px;
	color: white;
	text-align: center;
	font-size: 17px;
}
.navbar-brand img{
	height: 25px;
	width: 30px;
}
.button-one{
}