.col-sm{
}
.col-sm img{
  float: left;
  float: right;
  	padding-bottom: 180px
  	padding-left: 80px;
  	height: 20vh;
}
.col-sm-topright img{
	height: 62.1vh;
	width:770px;
	padding-left:10px;
}
.col-sm-topleft img{
		padding-left:10px;
	height: 60vh;
	width:450px;
}
h1, h2, h3 {
	text-align: right;
	padding-right: 700px;
	padding-bottom: 20px;
	text-shadow: 2px 2px 2px #001a00;
	font-family: nasalization;
	color: #dead56;
}
body {
  background-color: red;
}
p {
	padding-left:20px;
	color:  yellow!important;
		padding-top:10px;
			text-align: center;
}
p1{
	text-align: left;
}
.Pics {
	height: 85vh;
	border-style: solid;
  	border-width:75px;
  	border-color: darkred;
}
h1 {
	padding-left:50px;
	text-shadow: 2px 2px 2px #001a00;
	font-family: nasalization;
	color: #dead56;
}
.edit {
	font-family: outline-style: solid;
	font-size: 15px;
	padding-left: 500px;
	padding-right: 200px;
	padding-bottom: 10px;
	font-family: sans-serif;
	color:  #00e673!important;
	}
	.DBOX {
	padding-top:40px;
	font-family: outline-style: solid;
	font-size: 15px;
	padding-left: 500px;
	padding-bottom: 300px;
	color:  #00e673!important;
	font-family: nasalization;
	color: #dead56;
	}
.dropdown-item{
	color: 	black!important;
	.nav-link{
	color: 	black!important;
}
.navbar-brand{
	color: 	#00FFFF!important;
}
.footer{
	height: 10vh;
	background-color: #242322;
	font-family: sans-serif;
}
.footer h3{
	padding-top: 27px;
	color: white;
	text-align: center;
	font-family: sans-serif;
	font-size: 17px;
}