h1, h2, h3, h4, h5, h6, .TeachA, .TeachB, .TeachC {
	font-family: outline-style: solid;
	font-size: 15px;
	padding-left: 325px;
	padding-right: 325px;
}
.edit2 {
padding-bottom: 205px;
}
.img {
	align-content: 30px;
}