h1{
	font-family: outline-style: solid;
	font-size: 15px;
	padding-left: 325px;
	padding-right: 325px;
}
.edit2 {
padding-bottom: 205px;
}
.img {
	align-content: 30px;
}
div .column{
column-rule-width: 400px;
column-rule-color: #551A8B;
column-width: 200px;
}